# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/workspace.xml
app/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/debug/x86/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/debug/x86_64/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/native-lib.dir/
app/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/native-lib.dir/
app/.externalNativeBuild/cmake/release/x86/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/release/x86/CMakeFiles/native-lib.dir/
app/.externalNativeBuild/cmake/release/x86_64/CMakeFiles/CMakeTmp/
app/.externalNativeBuild/cmake/release/x86_64/CMakeFiles/native-lib.dir/
app/libs/
baselibrary/libs/
baselibrary/src/main/res/drawable/
maillibrary/libs/
maillibrary/src/main/java/
maillibrary/src/main/res/drawable/
